<a href="https://colab.research.google.com/github/yurin-l/test/blob/master/ml%EC%8B%A4%EC%8A%B53_boston.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 라이브러리 사용
import tensorflow as tf
import pandas as pd

In [2]:
# 1.과거의 데이터를 준비한다
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
보스턴 = pd.read_csv(파일경로)
print(보스턴.columns)
보스턴.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [3]:
# 독립변수, 종속변수 분리
독립 = 보스턴[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax', 'ptratio', 'b', 'lstat']]
종속 = 보스턴[['medv']]
print(독립.shape, 종속.shape)

(506, 13) (506, 1)

In [6]:
# 2. 모델의 구조를 만듭니다.
X = tf.keras.layers.Input(shape=[13])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

In [16]:
# 3. 데이터로 모델을 학습(fit)합니다.
model.fit(독립, 종속, epochs=1000,verbose=0)
model.fit(독립, 종속, epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 1ms/step - loss: 24.3801
Epoch 2/10
16/16 [==============================] - 0s 1ms/step - loss: 24.3967
Epoch 3/10
16/16 [==============================] - 0s 1ms/step - loss: 24.2311
Epoch 4/10
16/16 [==============================] - 0s 1ms/step - loss: 24.6984
Epoch 5/10
16/16 [==============================] - 0s 1ms/step - loss: 23.8759
Epoch 6/10
16/16 [==============================] - 0s 1ms/step - loss: 24.9255
Epoch 7/10
16/16 [==============================] - 0s 1ms/step - loss: 24.4075
Epoch 8/10
16/16 [==============================] - 0s 1ms/step - loss: 24.6414
Epoch 9/10
16/16 [==============================] - 0s 1ms/step - loss: 24.8010
Epoch 10/10
16/16 [==============================] - 0s 1ms/step - loss: 24.2494

In [17]:
# 4. 모델을 이용합니다.
model.predict(독립[0:5])

array([[28.883854],
       [23.646029],
       [30.287716],
       [29.057402],
       [28.654451]], dtype=float32)

In [18]:
종속[0:5]

   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [19]:
# 모델의 수식 확인
model.get_weights()

[array([[-0.09045713],
        [ 0.04751551],
        [-0.03255709],
        [ 2.6690428 ],
        [ 0.68246293],
        [ 5.338822  ],
        [-0.01294188],
        [-1.0154772 ],
        [ 0.18688907],
        [-0.01150724],
        [-0.4628391 ],
        [ 0.01230849],
        [-0.46625254]], dtype=float32), array([5.368938], dtype=float32)]